.banner{
	p{
		font-family: 	$font-light;
		color: 			$flat-purple;
		font-size: 		4rem;
		text-align: 	center;
	}
	div.row{
		margin-bottom: 0;
	}
	div.col-sm-8{
		padding-right: 0;
		small{
			font-size: .8rem;
		}
	}
	div.col-sm-4{
		padding-left: 0;
		.checkbox{
			font-size: .75rem;
			.c-input + .c-input{
				margin-left: .3rem; 
			}
		}
	}
}

.howitworks{
	background-color: $flat-purple;
	color: $flat-white;
	h1{
		font-family: $font-thin;
	}
	h2{
		color: $white;
		font-family: $font-light;
	}
	p{
		font-size: .9rem;
	}
	@include media-breakpoint-down(xs){
		h1.display-3{
			font-size: 3rem;
		}
	}
}

.features{
	background-color: $white;
	color: $flat-purple;
}

#index-reviews{
	margin-bottom: 5rem;
	//max-height: 25rem;
	overflow: hidden;
	.carousel-inner{
		background-color: $flat-purple;
	}
	.carousel-caption{
		position: static;
	}
	p {
		font-family: $font-light;
		letter-spacing: .75px;
		font-size: 1.2rem;
	}
}

.numbers{
	color: $flat-purple;
	margin-bottom: 5rem;
	div{
		text-align: center;
		font-size: 2rem;
		ul{
			border-right: 1px solid $white-dark;
			padding: 0;
			li{
				display: inline-block;
				color: $flat-red;
				background-color: transparent;
				border-radius: 3px;
				border: 1px solid $white-dark;
				font-size: 3rem;
				padding: 3px 15px;
				margin: 0 5px;
			}
		}
		&:last-of-type ul{
			border-right: none;
		}
	}
}

.joinus{
	padding-top: 3rem;
	padding-bottom: 3rem;
	h2{
		font-family: $font-medium;
	}
}

@include media-breakpoint-down(xs){
	.banner{
		div.row{
			margin-bottom: 5px;
		}
		p{
			font-size: 2rem;
			font-family: $font-regular;
			font-weight: normal;
			margin-top: 1rem;
		}
		.gutter-md{
			height: 2rem;
		}
		.c-input + .c-input {
			margin-left: 3rem;
		}
	}
	.carousel-indicators{
		bottom: 0;
		li{
			width: 5px;
			height: 5px;
		}
		.active{
			width: 6px;
			height: 6px;
		}
	}
	.numbers{
		margin-bottom: 1rem;
		div{
			font-size: 1.3rem;
			ul{
				border: 0;
				li{
					font-size: 1rem;
					padding: 3px 6px;
					margin: 0 1px;
				}
			}
		}
	}
	.joinus{
		h2{
			font-family: $font-regular;
			font-size: .9rem;
		}
	}
}