.navbar-light {
	background-color: $flat-red;
	.tagline{
		color: $flat-white;
		font-size: 1.5rem;
	}
	.navbar-brand {
		padding: 0;
	}
	.navbar-nav {
		float: right;
		.nav-link {
			font-family: $font-regular;
			color: $navbar-light-color;

			@include hover-focus {
				color: $navbar-light-hover-color;
			}
		}
		.active{
			.nav-link{
				color: $flat-purple;
			}
		}
	}
}

@include media-breakpoint-down(xs){
	.navbar-toggler{
		position: absolute;
		right: 1rem;
		top: 1rem;
		color: $flat-white;
		z-index: 1000;
	}
	#collapsingNavbar {
		width: 100%;
	}
	.navbar-nav{
		float: none;
		.nav-item{
			float: none;
		}
	}
}